name: Continuous Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: ${{ steps.deploy_hook.outputs.render_url }}

    steps:
      - uses: actions/checkout@v3

      - name: Trigger Render Deploy Hook
        id: deploy_hook
        run: |
          curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"
          echo "render_url=https://forum-api-jfo0.onrender.com" >> $GITHUB_OUTPUT
